<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <meta charset="UTF-8">
</head>

<div id="app">
    <ul>
        <!-- (item, indice), assim consigo acessar tanto o item em si como seu indice na lista -->
       <li v-for="(cor, i) in cores" :key="cor">{{ cor }} - {{ i }}</li> 

       <!-- IMPORTANTE: Para renderização de listas complexas, fornecer uma "key", um id único, tal como no exemplo acima -->

    </ul>

    <button @click="cores.push('Branca')">Adicionar</button>

    <hr>
    <template v-for="(cor, i) in cores">
        <h1>{{ cor }}</h1>
        <p>{{ i }}</p>
    </template>
    <hr>
    <ul>
        <!-- <li v-for="pessoa in pessoas">
            {{ pessoa.nome }}
        </li> -->
        <li v-for="pessoa in pessoas">
            <div v-for="(valor, chave, indice) in pessoa">
                {{ chave }} = {{ valor }} ({{ indice }})
            </div>
        </li>
    </ul>
    <hr>
    <div v-for="n in 10">{{ n }}</div>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            cores: ['Verde', 'Vermelho', 'Amarelo', 'Azul'],
            pessoas: [
                {
                    nome: 'Ana',
                    idade: 26,
                    pese: 59
                },
                {
                    nome: 'Guilherme',
                    idade: 24,
                    pese: 55
                }
            ]
        }
    })
</script>